nav {
  position: relative;
  top: 10px;
}

#side {
  color: blue;
  position: fixed;
  top: 19%;
  right: 2%;
  width: 220px;
}

.container-hero {
  margin-top: 20px;
  margin-bottom: 20px;
}

#overlay {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.overlayContent {
  color: black;
}

#winlose {
  padding-top: 4%;
}

#winloseTitle {
  text-align: center;
}

#heroPanel {
  margin-top: 8%;
  padding-left: 3%;
}

.panel-body {
  background: black;
}

.well {
  background: lightgrey;
}

#winrate {
  padding-top: 5%;
}

#winrateTitle {
  text-align: center;
}

#closeIcon {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: auto;
}

#closeIcon:hover {
  
}

.herobox {
	margin: 3px;
	display: inline-block;
	width: 85px;
	height: auto;
}

.playerbox {
  margin: 3px;
  display: inline-block;
  width: 85px;
  height: auto;
}

img {
	padding-right : 4px;
	width: 83px;
	height: auto;
}

.herotype {
	width: 45px;
	height: auto;
}

.playertype {
  width: 60px;
  height: auto;
}

#playerdata {
  margin-top: 60px;
  padding-top: 30;
  padding-bottom: 30;
}

.y.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.divergingX.axis,
.divergingY.axis {
  font: 7px sans-serif;
}

.divergingX.axis path,
.divergingY.axis path,
.divergingX.axis line,
.divergingY.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



div.tooltip {	
    position: absolute;		
    text-align: center;		
    padding-bottom: 12px;	
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;			
    font: 12px sans-serif;		
    background: #aec7e8;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

div.selectedTooltip {
    position: fixed;   
    text-align: center;   
    padding-bottom: 12px; 
    padding-top: 15px;      
    font: 12px sans-serif;    
    background: white;  
    border: 0px;    
    border-radius: 2px;     
    pointer-events: none;   
}

div#partition {
}

div#versus {
  margin-top: 40%;
}

.bptext {
  font-size: 10px;
}