<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heros</title>

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
    <link href="css/zhongyuanfu.css" rel="stylesheet">

    <style type="text/css">
    </style>

  </head>

  <body ng-app="hero">
 
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="team.html">Teams</a></li>
            <li role="presentation"><a href="player.html">Players</a></li>
            <li role="presentation" class="active"><a href="hero.html">Heros</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Data Visualization for Dota2</h3>
      </div>
    </div>

    <div class="container" id="content"> 
      <h1>Heros</h1>
      <br>
      <br>
      <div ng-controller="TabController as tb">
        <section>
          <ul class="nav nav-tabs">
            <li ng-class="{ active: tb.selectedTab(1) }" role="presentation">
              <a href ng-click="tb.setTab(1)">Hero List</a>
            </li>
            <li ng-class="{ active: tb.selectedTab(2) }" role="presentation">
              <a href ng-click="tb.setTab(2)">Ban/Pick Rate</a>
            </li>
            <li ng-class="{ active: tb.selectedTab(3) }" role="presentation">
              <a href ng-click="tb.setTab(3)">Win Rate</a>
            </li>
          </ul>
        </section>

        <div class="row">
          <div class="col-md-9" ng-show="tb.selectedTab(1)">
            <div id="herolist">
              <div>
                <p><img class="herotype" src="img/dota_icon/strength.png" /> <kbd>Strength</kdb></p>
                <div id="strength"></div>
                <hr> 
              </div> 
              <div>
                <p><img class="herotype" src="img/dota_icon/agility.png" /> <kbd>Agility</kbd></p>
                <div id="agility"></div>
                <hr>
              </div>
              <div>
                <p><img class="herotype" src="img/dota_icon/intelligence.png" /> <kbd>intelligence</kbd></p>
                <div id="intelligence"></div>
                <hr>
              </div>

            </div> <!-- herolist -->
          </div> <!-- col-md-9 -->

          <div class="col-md-9" ng-show="tb.selectedTab(2)">
            <div id="herobp">
              bp
            </div>  <!-- herobp -->
          </div>  <!-- col-md-9 -->

          <div class="col-md-9" ng-show="tb.selectedTab(3)">
            <div id="herowin">
              win
            </div> <!-- herowin -->
          </div>  <!-- col-md-9 -->

          <div class="col-md-3">
            <h1><span id="heropanel" width="50px" class="label label-default">Hero Panel</span></h1>
             <div id="herodata"> 
                <div id="bprate">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4><img src="img/hero/abaddon.png" /> <strong>Abaddon</strong></h4>
                      <div class="well well-sm"><p><strong>GPM</strong></p></div>
                      <div class="well well-sm"><p><strong>XPM</strong></p></div>
                      <div class="well well-sm"><p><strong>KDA</strong></p></div>
                      <div class="well well-sm"><p><strong>Hero Damage</strong></p></div>
                    </div>
                  </div>
              </div> 
            </div>  <!-- herodata -->
          </div>  <!-- col-md-3 -->

        </div> <!-- row -->
      </div> <!-- tabCtrl -->
    </div> <!-- container -->

    <div class="container" id="vis">
      <h2 id="win">Appearance VS Win Rate</h2>
      <div id="winRateChart"></div>
      <h2 id="bp">Ban/Pick</h2>
      <div id="bpChart"></div>
    </div>

    <script>
      var width_1 = 850;
      var height_1 = 600;

      var width_2 = 900;
      var height_2 = 1600;

      var padding = {
        top: 20,
        right: 20,
        bottom: 40,
        left: 50
      };

      var padding_2 = {
        top: 20,
        right: 30,
        bottom: 60,
        left: 90
      };

      var winRateSvg = d3.select("#winRateChart")
        .append("svg")
        .attr("width", width_1)
        .attr("height", height_1);

      var bpSvg = d3.select("#bpChart")
          .append("svg")
          .attr("width", width_2)
          .attr("height", height_2);



    </script>
    <!-- tooltips -->
    <script src="js/hero.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>