<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heros</title>

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js">
    </script>

    <!-- JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.8.13/jquery-ui.min.js"></script>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
    <link href="css/zhongyuanfu.css" rel="stylesheet">    
    <link rel="stylesheet" href="css/player.css">

  </head>

  <body>
    <nav>
      <div class="container">
        <div class="header clearfix">
<!--        <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="index.html">Home</a></li>
              <li role="presentation"><a href="team.html">Teams</a></li>
              <li role="presentation"><a href="player.html">Players</a></li>
              <li role="presentation" class="active"><a href="hero_1.html">Heros</a></li>
            </ul> -->
          <h3 class="text-muted">Data Visualization for Dota2</h3>
        </div>
      </div>
    </nav>

    <div class="container" ng-app="dota2" ng-controller="MainCtrl as main">
      <div id="header">
        <label>Filtered By Team:</label>
        <select ng-model="main.filter.Team" ng-options="t.id as t.name for t in main.teams" ng-change="main.refilter()">
        </select>

        <label>Filtered By Position:</label>
        <select ng-model="main.filter.Position" ng-options="p.id as p.name for p in main.positions" ng-change="main.refilter()">
        </select>
      </div>

      <svg id="content" chart league="main.csv" data="main.rows" hover="main.onHover(item)"></svg>

      <div ng-if="main.hover"  class="player">
      <img ng-src="img/TeamBadge/{{main.hover.Team}}.png">
      <img ng-src="img/Player/{{main.hover.Player}}.png">
      <div><strong>{{main.hover.Team}}.{{main.hover.Player}}</strong></div>
      <div class = "info">Basic Statistics</div>
      <div class = "chart">
        <div ng-style = "{'width' : '{{20 * main.hover.K}}px', 'height' : '25px'}">Kills: {{main.hover.K}}</div>
        <div ng-style = "{'width' : '{{20 * main.hover.D}}px', 'height' : '25px'}">Deaths: {{main.hover.D}}</div>
        <div ng-style = "{'width' : '{{20 * main.hover.A}}px', 'height' : '25px'}">Assists: {{main.hover.A}}</div>
        <div ng-style = "{'width' : '{{5 * main.hover.Lvl}}px', 'height' : '25px'}">Level: {{main.hover.Lvl}}</div>
      </div>

      <div class = "info">Unit Minute Statistics</div>
      <div class = "chart2">
        <div ng-style = "{'width' : '{{20 * main.hover.LHPM}}px', 'height' : '25px'}">Last Hits: {{main.hover.LHPM}}</div>
        <div ng-style = "{'width' : '{{0.5 * main.hover.DmgPM}}px', 'height' : '25px'}">Damage: {{main.hover.DmgPM}}</div>
        <div ng-style = "{'width' : '{{0.2 * main.hover.GPM}}px', 'height' : '25px'}">Gold: {{main.hover.GPM}}</div>
        <div ng-style = "{'width' : '{{0.2 * main.hover.XPM}}px', 'height' : '25px'}">Exp: {{main.hover.XPM}}</div>
      </div>
    </div>
    </div>

    <div class="container">

      <div id="first" class="row container-hero">
        <div class="col-md-12">
          <p><img class="herotype" src="img/dota_icon/strength.png" /> <kbd>Strength</kdb></p>
          <div class="herolist strength"></div>
        </div>
      </div>

      <div class="row container-hero">
        <div class="col-md-12">
          <p><img class="herotype" src="img/dota_icon/agility.png" /> <kbd>Agility</kdb></p>
          <div class="herolist agility"></div>
        </div>
      </div>

      <div class="row container-hero">
        <div class="col-md-12">
          <p><img class="herotype" src="img/dota_icon/intelligence.png" /> <kbd>Intelligence</kdb></p>
          <div class="herolist intelligence"></div>
        </div>
      </div>

      <div class="row container-hero">
        <div class="col-md-12">
          <h1 align="center">Draft Statistics</h1>
          <br>
          <div id="draft" class="row">
            <div class="col-md-4">
              <h4 align="center">BAN Times VS Pick Times</h4>
              <br>
              <form class="form-inline" role="form" align="left">
                <select width="15px" id="heroType" onchange="chooseHeroType()">
                  <option value="strength">strength</option>
                  <option value="agility">agility</option>
                  <option value="intelligence">intelligence</option>
                </select><br>
              </from>
              <div id="diverging"></div>
            </div>
            <div class="col-md-4">
              <h4 align="center">Ban/Pick Rate Distribution</h4>
              <div id="typeDescription"></div>
              <div id="partition"></div>
            </div>
            <div class="col-md-4">
              <div id="versus" aligin="center">
                <h4 align="center" id="versusTitle"></h4>
                <p id="versusHero"></P>
                <p id="versusBPRate"></p>
                <div id="best"></div>
                <div id="worst"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="js/hero_1.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="js/player.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34380248-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>